APP_NAME=某牛
MYSQL_HOST=xxxxxxxxxxx
MYSQL_PORT=xxxxxxxxxxx
MYSQL_DATABASE=xxxxxxxxxxxx
MYSQL_USER=xxxxxxxxxx
MYSQL_PASSWORD=xxxxxxxxxxx
QUESTDB_DB=xxxxxxxxxxxxx
QUESTDB_HOST=localhost
QUESTDB_USER=xxxxxxxxxxxx
QUESTDB_PASS=xxxxxxxxxxxx
QUESTDB_PORT=8812